<table>
	<tr>
		<th>Project</th>
		<th>Importance bug ratio</th>
		<th>Reopen bug ratio</th>
	</tr>
	<% for(var i=0; i< data.projects.length; i++) { %>
        <tr>
            <td><%= data.projects[i].name %></td>
            <td><%= data.projects[i].importantBugRatio %></td>
            <td><%= data.projects[i].reopenBugRatio %></td>
        </tr>
    <% } %>
</table>